.Formular {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.Formular button {
  text-decoration: none;
  text-align: center;
  padding: 16px 24px;
  margin-top: 20px;
  font-size: 20px;
  color: #dbedf3;
  border: none;
  background-color: #00818a;
}

.Formular button:disabled {
  color: #404b69;
  background-color: #404b69;
}

.FormularRedak {
  text-align: center;
  margin: 20px 10px 20px 10px;
}

.FormularRedak input {
  margin-top: 10px;
  background-color: white;
}

.FormularRedak label {
  font-size: 16px;
  display: block;
  color: #dbedf3;
}

.error {
  font-size: 16px;
  color: #f70606;
}
