.Header {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  background-color: #404b69;
  align-items: center;
}

.Header a {
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  font-size: 20px;
  color: #dbedf3;
}

.Header a:hover {
  text-decoration: none;
  color: #00818a;
}
