.Komentar {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  font-size: 15px;
  border: none;
  background-color: #ccffff;
  display: flex;
  text-align: left;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  align-items: center;
  justify-content: flex-start;

}

.Komentar button {
  padding: 10px 10px 10px 10px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
  font-size: 16px;
  color: #dbedf3;
  border: 1px;
  background-color: #00818a;
}
