div.Upis {
  margin: auto;
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
button {
  text-decoration: none;
  text-align: center;
  padding: 10px 14px;
  margin-top: 20px;
  font-size: 15px;
  color: #dbedf3;
  border: none;
  background-color: #00818a;
  margin-right: 10px;
  display: inline-table;
  vertical-align: middle;
}

 button:disabled {
  color: #404b69;
  background-color: #404b69;
}

input {
  margin-top: 10px;
  background-color: white;
}

textarea {
  margin-top: 10px;
  background-color: white;
  height: 70px;
  width: 98%;
  padding:1%;
  position: relative;
  display: inline-table;
  vertical-align: middle;
}
