.Korisnik {
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  background-color: #404b69;
}

.Korisnik form {
  padding-top: 10px;
}

.Korisnik label {
  padding-right: 16px;
  font-size: 16px;
  color: #dbedf3;
}

.Korisnik button {
  font-size: 16px;
  color: #dbedf3;
  border: none;
  background-color: #404b69;
}

.Korisnik button:disabled {
  color: #404b69;
}

.Korisnik button:enabled:hover {
  color: #00818a;
}
