 h3 {
  margin: 20px 10px 20px 10px;
  font-size: 18px;
  display: block;
  color: #dbedf3;
}
img {
  max-width: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}

div.Redak1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}

div.Tekst {
  padding: 20px 20px 20px 20px;
  margin: 30px 30px 30px 30px;
  text-align: left;
  margin: auto;
  white-space: pre-line;
  max-width: 400px;
}

div.Proba {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}
