.PodaciOsnovno {
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  height: 180px;
  background-color: #404b69;
}

.PodaciOsnovno img {
  overflow: auto;
  margin: 20px 20px 20px 20px;
  height: 140px;
  float: left;
  border-width: thin;
  border-style: solid;
  border-color: #dbedf3;
}

.PodaciOsnovno h2 {
  margin: 16px 0 0 0;
  font-size: 24px;
  display: block;
  color: #dbedf3;
}

.PodaciOsnovno h3 {
  margin: 10px 0 0 10px;
  font-size: 18px;
  display: block;
  color: #dbedf3;
}
