.Podaci {
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  background-color: #404b69;
}

.Podaci h2 {
  margin: 10px 0 20px 10px;
  font-size: 24px;
  display: block;
  color: #dbedf3;
}

.Podaci h3 {
  margin: 0 0 0 10px;
  font-size: 18px;
  display: block;
  color: #dbedf3;
}

.Podaci label {
  margin: 0 0 10px 10px;
  font-size: 16px;
  display: block;
  color: #dbedf3;
}
