.Promjena {
  padding: 10px 10px 10px 10px;
  margin: 30px 30px 30px 30px;
  background-color: #404b69;
}

.Promjena h3 {
  padding: 10px 0 0 0;
  margin: 0 0 10px 10px;
  font-size: 18px;
  display: block;
  color: #dbedf3;
}

.Promjena label {
  margin: 0 0 10px 10px;
  font-size: 16px;
  display: block;
  color: #dbedf3;
}

.Promjena input {
  margin: 10px 10px 10px 10px;
  font-size: 16px;
  display: block;
  background-color: white;
}

.Promjena button {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  font-size: 16px;
  color: #dbedf3;
  border: 1px;
  background-color: #00818a;
}
