.Redak {
  margin: 20px 20px 20px 20px;
}

.Redak button {
  padding: 10px 10px 10px 10px;
  margin: 0 10px 0 10px;
  font-size: 16px;
  color: #dbedf3;
  border: 1px;
  background-color: #00818a;
}

.Redak label {
  font-size: 16px;
  color: #dbedf3;
  border: none;
  position: sticky;
}
