.Statistika {
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
    background-color: #404b69;
  }
  
  .Statistika h3 {
    margin: 10px 0 0 20px;
    font-size: 18px;
    display: block;
    color: #dbedf3;
  }
  
  .StatistikaTablica {
    margin: 20px 20px 20px 20px;
    height: 500px;
    background-color: white;
  }
  
  .StatistikaTablica label {
    padding: 20px 20px 20px 50px;
    font-size: 16px;
    display: block;
    color: black;
  }